**/albert/core.db

*.log
*.db

**/config_dirs/obsidian/

**/__pycache__/

**/micro/backups
**/micro/buffers
config_files/config_dirs/QtProject.conf

Templates/quarto-manuscript-template/_manuscript/*
