#albert
**/albert/core.db

*.log
*.db

**/config_dirs/obsidian/

# CODE
**/Code/
!**/Code/User/keybindings.json
!**/Code/User/settings.json

**/__pycache__/

**/micro/backups
**/micro/buffers
config_files/config_dirs/QtProject.conf
