# this wants to be sourced by bashrc ...

alias mc=micro
alias ls='ls -Gh --color=auto --group-directories-first'
alias r="radian"
alias R='R --no-save --no-restore-data --quiet'
alias installed="pacman -Q | grep "
alias uninstall="sudo pacman -Rns"
alias remove="sudo pacman -Rns"
alias thunderbird="GTK_THEME=Arc /bin/thunderbird"
alias yay="/usr/bin/yay --nocleanmenu --nodiffmenu --noeditmenu --noremovemake"

alias spotify="source ~/Documents/IT/secrets/env-vars.sh && flatpak run com.spotify.Client/x86_64/stable  --username=$SPOTIFY_USERNAME --password=$SPOTIFY_PASSWORD"
alias f=ranger

install() {
    echo "installing: $1  -----------------------------------"
    sudo pacman -S $1 --needed && { echo $1 >> ~/LinuxConfig/installation-scripts/pkg/installed.txt } || yay -S $1 || yay $1
}

# update all perlmodules
alias perlupdate='perl -MCPAN -e "upgrade /(.\*)/"'

# bindkey -s '^o' '^ulfcd\n'  # some zsh stuff, ctrl+o simulates keypress of ^ulfcd\n

# get sorted list of programs and their ram usage
ram="ps -e -o pid,vsz,comm= | sort -n -k 2"
